@font-face {
    src: url(asset/ngnl.ttf);
    font-family: ngnl;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    gap: 0;
    cursor: url(asset/cursor.png), auto;
}

body {
    display: grid;
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 32vw 35.3vw 32vw;
    grid-template-rows: 5vw 35.35vw 1vw 20vw;
    background: url(images/ngnlKing.jpg) fixed no-repeat;
    background-size: cover;
}

h1 {
    font-family: ngnl;
    font-size: 4.5vw;
    text-align: center;
    grid-area: 1 / 2 / 1 / 2 ;
    background: -webkit-linear-gradient(crimson, black, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}

.board {
    align-content: center;
    display: grid;
    grid-area: 2 / 2 / 2 / 2;
    grid-template-rows: repeat(8, 4.4vw);
    grid-template-columns: repeat(8, 4.4vw);
    padding: 8vw;
    background: black;
    opacity: .9;
    gap: 0;
}

.music {
    display: grid;
    grid-area: 4 / 2 / 4 / 2;
    justify-content: center;
}

.black, .white {
    text-align: center;
    font-size: 3vw;
    border: 1px double black;
}

.Bpiece, .Wpiece {
    background: -webkit-linear-gradient(crimson, black, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Bpiece {
    -webkit-text-stroke: 1px black;
}

.Wpiece {
    text-shadow: 1px 1px 1px white;
}

.black {
    background: linear-gradient(45deg, crimson, black, black, black, black, black, black, black, black, cyan);
}

.white {
    background-color: palegoldenrod;
}

.Bpiece:hover, .Wpiece:hover {
    background-color: blue;
}