@import url("lightbox.css");
@import url("product-mq.css");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    border-top: 5rem goldenrod solid;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

/* HEADER/NAVBAR */
#header {
    width: 100%;
    max-width: 100%;
    top: -.6%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav-bar {
    width: 4rem;
    height: 30vh;
    position: fixed;
    background: #23232e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 0;
    top: 0;
    z-index: 100;
}

.nav-link {
    font-size: 1.75rem;
}

.nav-link li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-link i {
    color: slateblue;
    transition: 100ms ease;
}

.nav-link i:hover {
    color: goldenrod;
    cursor: pointer;
    filter: grayscale(20%);
    transition: 200ms ease;
}
/* HEADER/NAVBAR */
/* VIDEO */
#video-box {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#video {
    width: auto;
    height: 40rem;
}

.crown {
    animation: crownAnimate 1s infinite;
    size: 10vw;
}

@keyframes crownAnimate {
    0% {
        transform: rotate(2.5deg);
    }
    50% {
        transform: rotate(-2.5deg);
    }
    100% {
        transform: rotate(2.5deg);
    }
}
/* VIDEO */
/* DIVIDER */
.divider {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    filter: grayscale(20%);
}

.divider div{
    padding: 0 .5rem;
    margin: auto;
}

.line {
    width: 100%;
    border-bottom: .15rem goldenrod solid;
}

.middle {
    font-size: 3.5rem;
    transform: translateY(-.4rem);
}

#divider2 {
    padding-bottom: 3rem;
}

/* DIVIDER */
/* PRODUCTS */
#products {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 3rem 10rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: .5rem;
    grid-template-areas: 
    'img-1 img-1 img-2 img-2'
    'img-1 img-1 img-3 img-5'
    'img-6 img-6 img-4 img-5';
}

.gallery div {
    width: 100%;
    height: 12.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gallery div i{
    color: rgba(255, 255, 255, .6);
    font-size: 3rem;
    position: relative;
    /*z-index: 100;*/
    padding: 0 1.5rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}

.gallery div::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}

.gallery div:hover i,
.gallery div:hover::before {
    opacity: 1;
}

.img-1 {
    grid-area: img-1;
    background-image: url(product-lp/shirtEverest.png);
    min-height: 25.5rem;
}

.img-2 {
    grid-area: img-2;
    background-image: url(product-lp/mugs.jpg);
}

.img-3 {
    grid-area: img-3;
    background-image: url(product-lp/tumbler1.jpg);
}

.img-4 {
    grid-area: img-4;
    background-image: url(product-lp/tumbler2.jpg);
}

.img-5 {
    grid-area: img-5;
    background-image: url(product-lp/shirts_stack.jpg);
    min-height: 25.5rem;
}

.img-6 {
    grid-area: img-6;
    background-image: url(product-lp/shirtColors.PNG);
}
/* PRODUCTS */
/* FOOTER */
#footer {
    width: 100%;
    height: 10rem;
    position: relative;
    background-color: #1e1e24;
    color: lightgray;
    bottom: 0;
    font-family: 'Catamaran', sans-serif;
}

.footer_container {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.contacts {
    width: 20rem;
    grid-column: 2/2;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h2 {
    transform: translateY(20%);
}

.contact_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact_icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-right: .5rem;
}

.contact_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contacts i {
    color: #333;
    font-size: 1.3rem;
}

.contacts i:hover {
    cursor: pointer;
    color: #555;
}

.subscribe {
    grid-column: 3/3;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.email-form {
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
}

.email-form .form {
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: lightgrey;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 15rem;
    height: 2rem;
    border-radius: 5rem;
}

.email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-color: lightgray;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #333;
    cursor: pointer;
    border-radius: 0 1rem 1rem 0;
}

.submit:hover {
    background-color: #333;
    color: lightgray;
}
/* FOOTER */